.movie-card img {
  width: 75%;
  height: 50vh;
  border-radius: 10px;
  margin-bottom: 10px;
}

.setDetailes{
  width: 95%;
  height: 50vh;
}

.secdiv{
  width: 46vw;
  height: 47vh;
}

.scrl{
  overflow-y: scroll;
}